<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add girl</title>
</head>
<body>

        <form action="">
            <p> Title</p>
            <input type="text" name="title">
            <p>Image</p>
            <input type="text" name="image">
            <p>age</p>
            <input type="text" name="age">
            <p>breast</p>
            <input type="text"name="breast">
            <p>waist</p>
            <input type="text"name="waist">
            <p>hips</p>
            <input type="text"name="hips">
            <p></p>
            <input type="submit">
        </form>
</body>
</html>